* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
