@import "../core/variables";

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  @media (min-width: 350px) and (max-width: 768px) {
    font-size: 2rem;
    text-align: center;
  }
}

.contact-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.contact-text {
  font-size: 1.5rem;
  color: $color-font;
  margin-bottom: 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;

  a {
    color: $color-font;
    transition: transform 0.3s, color 0.3s;

    &:hover {
      transform: scale(1.2);
      color: lighten($color-hover, 15%);
    }
  }
}
